<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>
<div id="wiki-wrapper" class="page">
  

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{page-header}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      	{{#allow_editing}}
	<a class="mdl-button mdl-js-button" href="#" id="minibutton-new-page">
	  Add
	</a>
      	{{#editable}}
	<a class="mdl-button mdl-js-button" href="{{base_url}}/edit/{{escaped_url_path}}">
	  Edit
	</a>
      	{{/editable}}
	{{/allow_editing}}
	<button class="mdl-button mdl-js-button mdl-button--icon" id="menu-more">
	  <i class="material-icons">more_vert</i>
	</button>
	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="menu-more">
	  <li class="mdl-menu__item"><a href="{{base_url}}/">Home</a></li>
	  <li class="mdl-menu__item"><a href="{{base_url}}/search">Search</a></li>
	  <li class="mdl-menu__item"><a href="{{base_url}}/pages">All</a></li>
	  <li class="mdl-menu__item"><a href="{{base_url}}/fileview">Files</a></li>
	  {{#allow_editing}}
          {{#allow_uploads}}
	  <li class="mdl-menu__item"><a href="#" id="minibutton-upload-page">Upload</a></li>
      	  {{/allow_uploads}}
          {{#editable}}
	  <li class="mdl-menu__item"><a href="#" id="minibutton-rename-page">Rename</a></li>
          {{/editable}}
	  <li class="mdl-menu__item"><a id="delete-link" href="{{base_url}}/delete/{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?">Delete</a></li>
    	  {{/allow_editing}}
	  {{#page_exists}}
	  <li class="mdl-menu__item"><a href="{{base_url}}/history/{{escaped_url_path}}">History</a></li>
	  <li class="mdl-menu__item"><a href="{{base_url}}/latest_changes">Latest Changes</a></li>
	  {{/page_exists}}
	</ul>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    

<div id="wiki-content">
<div class="{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-sidebar has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}">
  {{#has_toc}}
  <div id="wiki-toc-main">
    {{{toc_content}}}
  </div>
  {{/has_toc}}
  {{#has_sidebar}}
  <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
    <div id="sidebar-content" class="markdown-body">
      {{{sidebar_content}}}
    </div>
  </div>
  {{/has_sidebar}}
  <div id="wiki-body" class="gollum-{{format}}-content">
    {{#has_header}}
    <div id="wiki-header" class="gollum-{{header_format}}-content">
      <div id="header-content" class="markdown-body">
        {{{header_content}}}
      </div>
    </div>
    {{/has_header}}
    <div class="markdown-body">
      {{{content}}}
    </div>
  </div>
  {{#has_footer}}
  <div id="wiki-footer" class="gollum-{{footer_format}}-content">
    <div id="footer-content" class="markdown-body">
      {{{footer_content}}}
    </div>
  </div>
  {{/has_footer}}
  </div>

</div>
</div>


  </main>
</div>

</div>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>

